/******************字体大小控制**************************/

.af.xxxl {
	font-size: 60px;
}

.af.xxl {
	font-size: 50px;
}

.af.xl {
	font-size: 40px;
}

.af.l {
	font-size: 30px;
}

.af.md {
	font-size: 25px;
}

.af.sm {
	font-size: 20px;
}

.af.xs {
	font-size: 15px;
}

.af.xxs {
	/******谷歌兼容*******/
	font-size: 20px;
	-webkit-transform-origin-x: 0;
	-webkit-transform: scale(0.60);
	/******兼容IE*******/
	font-size: 12px;
}

.af.xxxs {
	font-size: 20px;
	-webkit-transform-origin-x: 0;
	-webkit-transform: scale(0.35);
	/******兼容IE*******/
	font-size: 7px;
}
/***字体颜色***/
.af.black{
	color: #000000 !important;
}
.af.white{
	color: #FFFFFF !important;
}

/******************************艺术字部分**************************************/

/******默认样式*******/
.af.default {
	text-shadow: #000000 0px 0px 10px;
	color: #FFFFFF;
}

.af.default.n {
	text-shadow: #000000 0px -10px 10px;
}

.af.default.e {
	text-shadow: #000000 10px 0px 10px;
}

.af.default.s {
	text-shadow: #000000 0px 10px 10px;
}

.af.default.w {
	text-shadow: #000000 -10px 0px 10px;
}

.af.default.ne {
	text-shadow: #000000 10px -10px 10px;
}

.af.default.nw {
	text-shadow: #000000 -10px -10px 10px;
}

.af.default.se {
	text-shadow: #000000 10px 10px 10px;
}

.af.default.sw {
	text-shadow: #000000 -10px 10px 10px;
}


/******发光********/
.af.light-fuchsia {
	color: #FFFFFF;
	text-shadow: 0 0 5px #d0039c, 0 0 8px #e204aa, 0 0 12px #f300b5, 0 0 15px #ff05bf, 0 0 18px #fb0cbe, 0 0 20px #fb24c4, 0 0 23px #f939c8;
}

.af.light-yellow {
	color: #FFFFFF;
	text-shadow: 0 0 5px #f7f700, 0 0 8px #ffff00, 0 0 12px #ffff09, 0 0 15px #f9f911, 0 0 18px #f3f317, 0 0 20px #ffff26, 0 0 23px #fbfb3e;
}

.af.light-red {
	color: #FFFFFF;
	text-shadow: 0 0 5px #de2c00, 0 0 8px #e63003, 0 0 12px #ff3300, 0 0 15px #ff3c0c, 0 0 18px #ff4315, 0 0 20px #fd4d22, 0 0 23px #ff5d36;
}

.af.light-blue {
	color: #FFFFFF;
	text-shadow: 0 0 5px #00bfff, 0 0 8px #15c4ff, 0 0 12px #1bc6ff, 0 0 15px #29c6fb, 0 0 18px #3bc9f9, 0 0 20px #4dd2ff, 0 0 23px #60d7ff;
}

.af.light-green {
	color: #FFFFFF;
	text-shadow: 0 0 5px #00a000, 0 0 8px #01d001, 0 0 12px #00ff00, 0 0 15px #16fd16, 0 0 18px #27f727, 0 0 20px #3bf53b, 0 0 23px #58f758;
}


/***火焰****/
.af.fire {
	color: #FFFFFF;
	animation: fire 3s infinite;
}
@keyframes fire {
	0% {
		text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
	}
	25% {
		text-shadow: 0 0 4px white, 2px -7px 6px #ff3, 2px -12px 8px #fd3, -3px -20px 11px #f80, 4px -30px 22px #f20;
	}
	50% {
		text-shadow: 0 0 4px white, 2px -10px 8px #ff3, 2px -14px 10px #fd3, -4px -25px 11px #f80, 4px -35px 25px #f20;
	}
	75% {
		text-shadow: 0 0 4px white, 2px -7px 6px #ff3, 2px -12px 8px #fd3, -3px -20px 11px #f80, 4px -30px 22px #f20;
	}
	100% {
		text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
	}
}
@-moz-keyframes fire {
	0% {
		text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
	}
	25% {
		text-shadow: 0 0 4px white, 2px -7px 6px #ff3, 2px -12px 8px #fd3, -3px -20px 11px #f80, 4px -30px 22px #f20;
	}
	50% {
		text-shadow: 0 0 4px white, 2px -10px 8px #ff3, 2px -14px 10px #fd3, -4px -25px 11px #f80, 4px -35px 25px #f20;
	}
	75% {
		text-shadow: 0 0 4px white, 2px -7px 6px #ff3, 2px -12px 8px #fd3, -3px -20px 11px #f80, 4px -30px 22px #f20;
	}
	100% {
		text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
	}
}
@-webkit-keyframes fire {
	0% {
		text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
	}
	25% {
		text-shadow: 0 0 4px white, 2px -7px 6px #ff3, 2px -12px 8px #fd3, -3px -20px 11px #f80, 4px -30px 22px #f20;
	}
	50% {
		text-shadow: 0 0 4px white, 2px -10px 8px #ff3, 2px -14px 10px #fd3, -4px -25px 11px #f80, 4px -35px 25px #f20;
	}
	75% {
		text-shadow: 0 0 4px white, 2px -7px 6px #ff3, 2px -12px 8px #fd3, -3px -20px 11px #f80, 4px -30px 22px #f20;
	}
	100% {
		text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
	}
}
@-o-keyframes fire {
	0% {
		text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
	}
	25% {
		text-shadow: 0 0 4px white, 2px -7px 6px #ff3, 2px -12px 8px #fd3, -3px -20px 11px #f80, 4px -30px 22px #f20;
	}
	50% {
		text-shadow: 0 0 4px white, 2px -10px 8px #ff3, 2px -14px 10px #fd3, -4px -25px 11px #f80, 4px -35px 25px #f20;
	}
	75% {
		text-shadow: 0 0 4px white, 2px -7px 6px #ff3, 2px -12px 8px #fd3, -3px -20px 11px #f80, 4px -30px 22px #f20;
	}
	100% {
		text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
	}
}
/***************字体边框************************/
.af.with-border-default{
	text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
}
.af.with-border-white{
	text-shadow:#FFFFFF 1px 0 0,#FFFFFF 0 1px 0,#FFFFFF -1px 0 0,#FFFFFF 0 -1px 0;
}
/****************3d字体********************/
.af.threed{
	text-shadow: 0px 0px #000000, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 
	5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 
	10px 10px #525252;
}
.af.reflect{
-webkit-box-reflect: below -5px -webkit-linear-gradient(transparent,transparent 40%,rgba(255,255,255,0.6));
}
